* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	padding: 2rem 0;
}

body {
	width: 100%;
}

.chamada {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	padding: 1rem;
	gap: 30px;
	background-color: #ccc;
}

.chamada-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chamada-texto h1 {text-transform: uppercase;}

.categoria {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.categoria h2 {
	padding: 1rem 0;
}

.categoria-videos {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}